<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAMAL</title>
</head>
<body>
    
    <% extensions.forEach(exten => { %>
        
        <h4><%= exten.id %></h4>

    <% }) %>

</body>
</html>