const mysql = require('mysql2');

const connDB = mysql.createConnection({
    host: '',
    user: '',
    password: '',
    database: 'asterisk'
});

connDB.connect((err) => {
    if (err) throw ("Não foi possível conectar no banco de dados.");
});

module.exports = connDB;